@model ResturantMVC.Models.LoginViewModel

<div class="container mt-5">
    <h2>Admin Login</h2>
    <form asp-action="Login" method="post">
        <div class="mb-3">
            <label asp-for="username" class="form-label"></label>
            <input asp-for="username" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="password" class="form-label"></label>
            <input asp-for="password" type="password" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Logga in</button>
    </form>
</div>
